.main {
    display: flex;
    flex-direction: column;
  width: 50%vw;
  height: 100%vh;
  left: 50%vw;
  padding: 40px 32px 24px 32px;
  gap: 24px;
  opacity: 0px;
}

.inputContainer {
  width: 80%;
  height: 5rem;
  padding: 24px 8px 12px 8px;
  gap: 1rem;
  border-radius: 4px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

